body {
    background-color: #787778;
}

#container {
    width: 1024px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("backdrop.jpg");
}

#top {
    height: 150px;
}

.column {
    width: 50%;
    height: 500px;
    float: left;
}

.robot_story {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 500px;
    background-image: url("robot_no_sign.jpg");
}

.robot_story:hover {
    background-image: url("robot_story_sign.jpg");
    cursor: pointer;
}

.robot_experience {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 500px;
    background-image: url("robot_no_sign.jpg");
}

.robot_experience:hover {
    background-image: url("robot_experience_sign.jpg");
    cursor: pointer;
}

#scene_one {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_one_normal.jpg");
}

#scene_one:hover {
    background-image: url("scene_one_hover.jpg");
    cursor: pointer;
}

.holder {
    width: 1024px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    width: 700px;
    padding: 40px;
    height: 50px;
    float: left;
}

.button {
    width: 164px;
    height: 50px;
    padding: 40px;
    float: right;
}

.button:hover {
    cursor: pointer;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

#scene_two {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_two.jpg");
}

#scene_two:hover {
    background-image: url("scene_two_hover.jpg");
}