body {
    background-color: #787778;
}

#container {
    width: 1024px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("backdrop.jpg");
}

#top {
    height: 150px;
}

.column {
    width: 50%;
    height: 500px;
    float: left;
}

.robot_story {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 500px;
    background-image: url("robot_no_sign.jpg");
}

.robot_story:hover {
    background-image: url("robot_story_sign.jpg");
    cursor: pointer;
}

.robot_experience {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 500px;
    background-image: url("robot_no_sign.jpg");
}

.robot_experience:hover {
    background-image: url("robot_experience_sign.jpg");
    cursor: pointer;
}

#scene_one {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_one_normal.jpg");
}

#scene_one:hover {
    background-image: url("scene_one_hover.jpg");
    cursor: pointer;
}

.holder {
    width: 1024px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    width: 700px;
    padding: 40px;
    height: 50px;
    float: left;
}

.button {
    width: 164px;
    height: 50px;
    padding: 40px;
    float: right;
}

.button:hover {
    cursor: pointer;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

#scene_two {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_two.jpg");
}

#scene_two:hover {
    background-image: url("scene_two_hover.jpg");
}

#scene_three {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_three.jpg");
}

#scene_three:hover {
    cursor: pointer;
}

#scene_four {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_four_normal.jpg");
}

#scene_four:hover {
    cursor: pointer;
    background-image: url("scene_four_hover.jpg");
}

#scene_five {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_five_normal.jpg");
}

#scene_five:hover {
    background-image: url("scene_five_hover.jpg");
}

.col {
    width: 33.33%;
    height: 563px;
    float: left;
}

#panel_one {
    width: 240px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_six_panel_one_normal.jpg");
}

#panel_one:hover {
    background-image: url("scene_six_panel_one_hover.jpg");
}

#panel_two {
    width: 240px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_six_panel_two_normal.jpg");
}

#panel_two:hover {
    background-image: url("scene_six_panel_two_hover.jpg");
}

#panel_three {
    width: 240px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_six_panel_three_normal.jpg");
}

#panel_three:hover {
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_six_panel_three_hover.jpg");
}

#scene_seven {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_seven_normal.jpg");
}

#scene_seven:hover {
    background-image: url("scene_seven_hover.jpg");
    cursor: pointer;
}

#scene_eight {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_eight.jpg");
}

#scene_eight:hover {
    cursor: pointer;
}

#scene_nine {
    width: 750px;
    height: 563px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("scene_nine_normal.jpg");
}

#scene_nine:hover {
    background-image: url("scene_nine_hover.jpg");
}